/venv/
/db.sqlite3
/dgFramework.zip
/GR001 v4.0 test.json
/GR001 v5.3.xlsx
/GR001 v5.6.xlsx
/GR001 v5.6_test.json
/GR001 v5.7.xlsx
/GR001 v5.7 test.json
/storage_24-4-15.json
/storage_24-4-15_2.json
/storage_24-4-17.json
/storage_24-4-28.json
/storage_24-5-26.json
/test-diagram_1.html
/datamanagement/
